@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Decol&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kaisei Decol;
    font-size: 24px;
    color:var(--cor-texto);

}
:root{
    --azul-claro: #8BB5FF;
    --azul-escuro: #005CFF;
    --cor-fundo: #F7F7F7;
    --box-shadow: rgba(0, 0, 0, 0.25);
    --cor-texto: #494949;
    --espaçamento: 50px;
    --padding-títulos: 150px;
    --fonte-texto: 18px;
}

li{
    list-style: none;
}
i{
    font-size: 40px;
}
nav a{
    font-weight: 700;
}
a{
    color:var(--cor-texto);
    text-decoration: none;
}
.logo{
    width: 90px;
}
body{
    min-height: 100vh;
    background-color: var(--cor-fundo);
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaçamento);
    width: 100%;
    height: 100px;
    background-color: var(--azul-claro);
    transition: all 0.5s;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px var(--box-shadow);
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: var(--azul-escuro);
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--cor-texto);
    transition: all 0.3s ease-in-out;
}
/* SOBRE MIM CARD */
.container-card{
    padding: var(--espaçamento);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  .card {
    flex: 1;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: var(--cor-texto);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .card1 .card-title {
    font-weight: 700;
    text-align: left;
  }
  .card1 .card-text{
    line-height: 1.5;
    font-size: var(--fonte-texto);
  }
  .card:hover::before {
    height: 100%;
  }
  .card:hover {
    box-shadow: none;
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;  
    background: linear-gradient(-45deg, #005CFF 0%, #8BB5FF 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
/* PROJETOS */
.text-projetos{
    padding: 20px 50px;
    text-align: center;
}
.imagem-projeto{
    width: 100%;
    max-width: 100%;
    height: auto; 
}
.container-projetos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: var(--espaçamento);
    margin-bottom: 30px;
}
.container-projetos .card-projetos{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px var(--azul-claro);
    transition: .5s;
    border-bottom: 3px solid #6DA2FF;
}
.container-projetos .card-projetos:hover{
    height: 450px;
    max-height: 100%;
    margin: 60px 0;
}
.container-projetos .card-projetos .caixaImg{
    position: absolute;
    width: 400px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    max-width: 100%;
}
.container-projetos .card-projetos:hover .caixaImg{
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px var(--azul-claro);
}
.container-projetos .card-projetos .caixaImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-projetos .card-projetos .conteudo-projetos{
    position: absolute;
    top: 250px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    
}
.container-projetos .card-projetos:hover .conteudo-projetos{
    top: 150px;
    height: 250px;
}
.container-projetos .card-projetos .conteudo-projetos h3{
    font-weight: 700;
    font-size: 24px;
}
.container-projetos .card-projetos .conteudo-projetos a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
}
.conteudo-projetos p{
    font-size: var(--fonte-texto);
}

.buttonAcesseRepositorio{
  background-color: var(--azul-claro);
  border: none;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}
.buttonAcesseRepositorio:hover{
  background-color: var(--azul-escuro);
}
@media (max-width:768px){
    *{
        font-size: var(--fonte-texto);
    }
    /* RESPONSIVO NAV */
    .navbar{
        padding: var(--espaçamento);
    }
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 98px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--azul-claro);
        box-shadow: 0px 4px 4px 0px var(--box-shadow);
        text-align: center;
        flex-direction: column;
        width: 50%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;

    }
    .nav-menu.active{
        right: 0;
    }
    /*RESPONSIVO HOME*/
    .home{
        flex-direction: column-reverse;
        text-align: center;
    }
    .home .home-text{
        padding-top: 20px;
    }
    .container-link{
        justify-content: center;
    }
    /*RESPONSIVO SOBRE*/
    .container-sobre, .container-sobre1{
        text-align: center;
        flex-direction: column;
    }
    .sobre{
        text-align: center; 
    }
    /* RESPONSIVO SOBRE MIM CARD*/
    .container-card {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: auto;
        align-items: center;
      }
      .card{
          padding: 20px;
      }
    /* RESPONSIVO CONTATOS */
    .container-contatos{
        text-align: center;
        flex-direction: column;
    }
    .contato{
        text-align: center;
    }
    /* RESPONSIVO PROJETOS */
    .text-projetos{
        text-align: center;
    }
    .card-projetos {
        width: 100%; 
    }
    .container-projetos{
        padding: 0 15px;
    }
}
/* HOME */
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaçamento);
    padding-top: var(--padding-títulos);
}
.home-text{
    max-width: 37rem;
}
.image-ana{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--azul-claro);  
}

/* SOBRE MIM */
.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaçamento);
    gap: 70px;
}
.container-sobre1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaçamento);
    gap: 70px;
}
.sobre{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.card-sobre {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    text-align: center; 
    position: relative;
  }
  .card-medalha{   
    border-radius: 20px;
    padding: 45px 24px 24px;  /*  45 tamanho da bolinha  */
    text-align: center; 
    position: relative;
    
  }
  .icone-medalha{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: linear-gradient(-45deg, #005CFF 0%, #8BB5FF 100% );
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -75px;
  }
  .icone {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: linear-gradient(-45deg, #005CFF 0%, #8BB5FF 100% );
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -45px;
  }
  .texto-card {
    padding: 20px;
  }
.titulo-pag{
    padding-top:var(--padding-títulos);
    font-size: 28px;
    font-weight: 700;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
    padding: 20px 0;
}
.sub-titulo{
    font-size: 24px;
    font-weight: 700;
}
.sub-titulo-card{
    font-weight: 700;
}
/* CONTATOS */
.container-contatos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaçamento);
    gap: 50px;
  
}
.contato{
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
}
.text-contato{
    font-size: var(--fonte-texto);
}



/* LINKS DAS REDES SOCIAIS */
.btn {
    width: 70px;
    height: 70px;
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.btn i {
    color: var(--azul-claro);
  }
.fab {
    transition: all 0.3s ease-in-out;
  }
.far {
    transition: all 0.3s ease-in-out;
  }
.btn:hover .link {
    transform: scale(0);
  }
.btn:hover .fab {
    color: var(--azul-escuro);
    scale: 1.6;
  }
.btn:hover .far {
    color: var(--azul-escuro);
    scale: 1.6;
  }
.social-icon {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
  }
.link {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: #F7F7F7;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
.container-link{
    display: flex;
  }  