{% extends "base.html" %}
{% block head %}
<title>Contatos</title>
{% endblock %}
{% block body %}

    <h1 class="titulo-pag">Contatos</h1>
    <section class="container-contatos">
        <section class="contato">
            <a href="mailto:ana.silva2237@fatec.sp.gov.br" target="_blank">
                <div class="btn">
                    <i class="far fa-envelope"></i>
                </div>
            </a>
            <p class="text-contato">ana.silva2237@fatec.sp.gov.br</p>
        </section>
        <section class="contato">
            <a href="https://www.linkedin.com/in/anamoratelli/" target="_blank">
                <div class="btn">
                    <i class="fab fa-linkedin"></i>
                </div>
            </a>
            <p class="text-contato">linkedin</p>
        </section>
        <section class="contato">
            <a href="https://github.com/Ana-Laura-Moratelli" target="_blank">
                <div class="btn">
                    <i class="fab fa-github"></i>
                </div>
            </a>
            <p class="text-contato">Git hub</p>
        </section>
    </section>
{% endblock %}