{% extends "base.html" %}
{% block head %}
<title>Contatos</title>
{% endblock %}
{% block body %}

    <h1 class="titulo-pag">Contatos</h1>
    <section class="container-contatos">
        {% for contato in contatos %}
        <section class="contato">
            <a href="{{ contato['link']}}" target="_blank">
                <div class="btn">
                    <i class="{{ contato['icone']}}"></i>
                </div>
            </a>
            <p class="text-contato">{{ contato['texto']}}</p>
        </section>
        {% endfor %}
    </section>
{% endblock %}