{% extends "base.html" %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
    <section class="home">
        <section class="home-text">
           <p>Olá, me chamo Ana Laura Moratelli, tenho 18 anos e esse é meu portfólio onde você encontrará as minhas informações de contato, um pouco mais sobre mim e projetos realizados e os quais pretendo desenvolver durante minha nova jornada na faculdade de desenvolvimento de software! </p> 
           <div class="container-link">
            <a href="https://www.linkedin.com/in/anamoratelli/" target="_blank">
                <div class="btn">
                    <i class="fab fa-linkedin"></i>
                </div>
            </a>
            <a href="https://github.com/Ana-Laura-Moratelli" target="_blank">
                <div class="btn">
                    <i class="fab fa-github"></i>
                </div>
            </a>
           </div>
        </section>
            <img class="image-ana" src="../static/img/ana.svg" alt="ana">
    </section>
</body>
</html>
{% endblock %}