{% extends "base.html" %}
{% block head %}
<title>Projetos</title>
{% endblock %}
{% block body %}
    <h1 class="titulo-pag">Projetos</h1>
    <section class="text">
    <p>Esses são os projetos acadêmicos que eu ja realizei durante o primeiro semestre da faculdade de desenvolvimento de software multiplataforma, para acessar os seus repositórios, e dos meus futuros projetos 
    <a class="link-git" href="https://github.com/Ana-Laura-Moratelli">clique aqui!<a></p>
    
    </section>
   
    <section class="container-projetos">
        <section class="projeto">
            <h2>Nefrologia Pediátrica - API</h2>
            
            <img class="image" src="../static/img/img_api.png" alt="api">
            </section>
            <section class="projeto">
                <h2>Universidade Unes</h2>
                
                <img class="image" src="../static/img/img_unes.png" alt="unes">
            </section>
            <section class="projeto">
                <h2>Portfólio</h2>
                
                <img class="image" src="../static/img/portfolio.png" alt="portfolio">
            </section>
    </section>
</body>
</html>
{% endblock %}