{% extends "base.html" %}
{% block head %}
<title>Sobre mim</title>
{% endblock %}
{% block body %}
    <h1 class="titulo-pag">Formação acadêmica</h1>
    <section class="container-sobre">
        <section class="sobre">
            <h2>Inglês</h2>
            <p>
            Concluído em 2021 <br>
            Instituição: ELEC <br>
            Nível: Intermediário</p>
            </section>
            <section class="sobre">
            <h2>Ensino médio e técnico em eletrônica </h2>
            <p>
            Concluído em 2022 <br>
            Instituição:  Colégio Antônio Teixeira Fernandes<br>
            </p>
            </section>
            <section class="sobre">
            <h2> Ensino superior em Desenvolvimento de Software Multiplataforma </h2>
            <p>
            Conclusão prevista: 06/2026<br>
            Instituição: Fatec - Prof Jessen Vidal<br>
            </p>
            </section>
    </section>
    <h1>Medalhas</h1>
    <section class="container-sobre">
        <section class="sobre1">
            <p>2º lugar Olimípiada Brasileira de Astronomia em 2022</p>
            </section>
            <section class="sobre1">
                <p>2º lugar Olimpíada Canguru de matemática em 2018</p>
            </section>
    </section>
    <h1>Conhecimentos</h1>
    <section class="container-sobre">
        <section class="sobre1">
            <p>Atualmente, estou aprendendo a utilizar algumas tecnologias, tais como: HMTL 5, CSS 3, LINUX, PYTHON e MySQL</p>
            <div class="image">
                <img src="../static/img/html.png" alt="html">
                <img src="../static/img/css.png" alt="css">
                <img src="../static/img/linux.png" alt="linux">
                <img src="../static/img/python.png" alt="python">
                <img src="../static/img/mysql.png" alt="mysql">
            </div>
            </section>
            </section>
</body>
</html>
{% endblock %}


      